@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    text-transform: uppercase;
    border: none;
    padding: .8rem 2.5rem;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
}

i.fa-brands {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 3px;
    color: white;
    margin-right: .5rem;
    line-height: 30px;
    text-align: center;
}

i.fa-facebook-f  {
    background-color: #3b5998;
}

i.fa-twitter {
    background-color: #55acee;
}

i.fa-instagram {
    background-color: #3f729b;
}

div.title {
    width: 50%;
    margin: auto;

    img {
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }

    hr {
        width: 35%;
        margin: auto;
        color: #dddddd;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1.3rem;
        line-height: 50px;
        width: 75%;
        margin: auto;
    }
}